/* Generics */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', 'Roboto', sans-serif;
}

img {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: white;
}

h3 {
	color: white;
	font-size: .9rem;
}

h5 {
	display: inline-block;
	color: #a3a3a3;
}

/* Layout */

.wrapper {
	display: flex;
	width: 100%;
}

.viewport {
	height: calc(100vh - 100px);
}

header {
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
}

main {
	width: 100%;
}

.library {
	height: calc(100vh - 100px);
	background-color: #141922;
	overflow: auto;
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* align-items: center; */

}

footer {
	height: 100px;
	width: 100%;
	background-color: #282828;
}

/* SIDEBAR */

.sidebar {
	height: 100%;
	width: 60px;
	background-color: black;
	color: #a3a3a3;
	display: flex;
	flex-direction: column;
}

.sidebar .wrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
}

.sidebar ul {
	list-style-type: none;
	flex-grow: 1;
}

.sidebar li {
	margin-bottom: 10px;
}

		/* Attenzione al colore delle icone */
.sidebar li img {
	width: 30px;
	vertical-align: middle;
}

.sidebar h1 {
	padding: 15px;
	line-height: 10px;
}

.sidebar h1 img:nth-child(1) {
	width: 30px;
}

.sidebar h1 img:nth-child(2) {
	display: none;
}

.sidebar h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.sidebar li h5 {
	vertical-align: middle;
	display: none;
}

.sidebar-playlists {
	display: none;
	flex-grow: 1;
	width: 100%;
}

.sidebar-footer {
	align-self: flex-end;
	align-self: flex-start;
	padding: 20px;
	width: 100%;
}

.sidebar-footer img {
	height: 15px;
	width: 15px;
	vertical-align: middle;
	margin: 10px 5px 10px 0;
}

.sidebar-footer h3 {
	vertical-align: middle;
	display: none;
}

.sidebar-footer h5 {
	display: none;
}

.sidebar-footer hr {
	display: none;
}

header a {
	text-transform: uppercase;
	padding: 10px 25px;
	border: 1px solid white;
	border-radius: 30px;
	text-align: center;
}

/* Library */

.box {
	flex-basis: 45%;
	/* max-height: 35%; */
	aspect-ratio: 1 / 1;
	background-color: green;
	margin: 10px;
	/* display: none; */
}





@media screen and (min-width: 576px) {
	.sidebar {
		width: 300px;
	}

	.sidebar a {
		padding-left: 20px;
	}
	
	.sidebar h1 img:nth-child(2) {
		display: block;
		width: 120px;
	}
	
	.sidebar h1 img:nth-child(1) {
		display: none;
	}
	
	.sidebar .wrapper {
		align-items: flex-start;
	}

	.sidebar ul {
		flex-grow: 0;
	}
	
	.sidebar li h5 {
		display: inline-block;
	}
	
	.sidebar-playlists {
		display: block;
	}

	.sidebar-playlists h3 {
		padding-left: 20px;
	}

	.sidebar-footer {
		display: block;
	}

	.sidebar-footer a {
		padding-left: 0;
	}

	.sidebar-footer h3 {
		display: inline-block;
	}
	
	.sidebar-footer h5 {
		display: inline-block;
	}

	.sidebar-footer hr {
		display: block;
	}
}